.sign-up-container{
  width: 80vw;
}

#blast-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
